<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A Bathing Ape</string>
	<string>Adidas</string>
	<string>Adidas AdiZero</string>
	<string>Adidas Adizero Crazy Light</string>
	<string>Adidas AdiZero Crazy Light 2</string>
	<string>Adidas AdiZero Ghost 2</string>
	<string>Adidas adiZero Primeknit</string>
	<string>Adidas adiZero Rose</string>
	<string>Adidas AdiZero Rose 2.5</string>
	<string>Adidas Basket Profi</string>
	<string>Adidas Busenitz</string>
	<string>Adidas Campus</string>
	<string>Adidas Campus 80s</string>
	<string>Adidas Consortium Your Story Collection</string>
	<string>Adidas Crazy 8</string>
	<string>Adidas Crazy 97</string>
	<string>Adidas Crazy Fast</string>
	<string>Adidas Crazy Light</string>
	<string>adidas Crazy Light 2</string>
	<string>Adidas Crazyquick</string>
	<string>Adidas D Rose 3</string>
	<string>Adidas D Rose 3.5</string>
	<string>Adidas D Rose 4</string>
	<string>Adidas Decade</string>
	<string>Adidas Forum</string>
	<string>Adidas Gazelle</string>
	<string>Adidas Gazelle Indoor</string>
	<string>Adidas Handball 5 Plug</string>
	<string>Adidas JS Wings</string>
	<string>Adidas JS Wings 2.0</string>
	<string>Adidas Matchplay</string>
	<string>Adidas Munchen</string>
	<string>Adidas Mutombo</string>
	<string>Adidas Originals Basket Profi</string>
	<string>Adidas originals by David Beckham</string>
	<string>adidas Originals Campus</string>
	<string>Adidas Originals Forum</string>
	<string>Adidas Originals Jeremy Scott</string>
	<string>Adidas Originals JS Wings</string>
	<string>Adidas Originals LA Trainer</string>
	<string>Adidas Originals Malmo</string>
	<string>Adidas Originals Rod Laver</string>
	<string>Adidas Originals Superstar</string>
	<string>Adidas Originals Superstar 2</string>
	<string>Adidas Originals Tobacco</string>
	<string>Adidas Originals Torsion Allegra</string>
	<string>Adidas Originals ZX 500</string>
	<string>adidas Originals ZX 700</string>
	<string>Adidas Originals ZX 750</string>
	<string>Adidas Originals ZX 800 DB</string>
	<string>Adidas Originals ZX 8000</string>
	<string>Adidas Pro Shell</string>
	<string>Adidas Rose 3.5</string>
	<string>Adidas Rose 773</string>
	<string>Adidas Skateboarding</string>
	<string>Adidas Skateboarding Busenitz</string>
	<string>Adidas Skateboarding Campus</string>
	<string>Adidas Skateboarding Ronan</string>
	<string>Adidas SLVR</string>
	<string>Adidas Superstar</string>
	<string>Adidas Superstar 2</string>
	<string>Adidas Tech Super</string>
	<string>Adidas ZX 500</string>
	<string>adidas ZX 700</string>
	<string>Adidas ZX 8000</string>
	<string>Air Jordan</string>
	<string>Air Jordan 1</string>
	<string>Air Jordan 1 Knicks</string>
	<string>Air Jordan 1 Armed Forces</string>
	<string>Air Jord</string>
	<string>an 1 Banned</string>
	<string>Air Jordan 1 BHM</string>
	<string>Air Jordan 1 Black Toe</string>
	<string>Air Jordan 1 Bred</string>
	<string>Air Jordan 1 Clover</string>
	<string>Air Jordan 1 Doernbecher</string>
	<string>Air Jordan 1 Father’s Day</string>
	<string>Air Jordan 1 Gucci</string>
	<string>Air Jordan 1 Hall of Fame</string>
	<string>Air Jordan 1 Highlight Film</string>
	<string>Air Jordan 1 Joker</string>
	<string>Air Jordan 1 KO</string>
	<string>Air Jordan 1 Laney</string>
	<string>Air Jordan 1 Levis</string>
	<string>Air Jordan 1 Olympics</string>
	<string>Air Jordan 1 Opening Day</string>
	<string>Air Jordan 1 Phat</string>
	<string>Air Jordan 1 Royal</string>
	<string>Air Jordan 1 Shadow</string>
	<string>Air Jordan 1 UNC</string>
	<string>Air Jordan 1 Wings for the Future</string>
	<string>Air Jordan 1 XQ China</string>
	<string>Air Jordan 1 Year of the Snake</string>
	<string>Air Jordan 10</string>
	<string>Air Jordan 10 Chicago</string>
	<string>Air Jordan 10 Doernbecher</string>
	<string>Air Jordan 10 Hornets</string>
	<string>Air Jordan 10 Ice Blue</string>
	<string>Air Jordan 10 Infrared</string>
	<string>Air Jordan 10 New York</string>
	<string>Air Jordan 10 Old Royal</string>
	<string>Air Jordan 10 Orlando</string>
	<string>Air Jordan 10 Sacramento</string>
	<string>Air Jordan 10 Seattle</string>
	<string>Air Jordan 10 Stealth</string>
	<string>Air Jordan 10 Steel</string>
	<string>Air Jordan 11</string>
	<string>Air Jordan 11 Bred</string>
	<string>Air Jordan 11 Columbia</string>
	<string>Air Jordan 11 Concord</string>
	<string>Air Jordan 11 Cool Grey</string>
	<string>Air Jordan 11 DMP</string>
	<string>Air Jordan 11 Gamma Blue</string>
	<string>Air Jordan 11 Low</string>
	<string>Air Jordan 11 Playoff</string>
	<string>Air Jordan 11 Silver Anniversary</string>
	<string>Air Jordan 11 Space Jam</string>
	<string>Air Jordan 12</string>
	<string>Air Jordan 12 Flu Game</string>
	<string>Air Jordan 12 Gamma Blue</string>
	<string>Air Jordan 12 Obsidian</string>
	<string>Air Jordan 12 Playoff</string>
	<string>Air Jordan 12 Taxi</string>
	<string>Air Jordan 13</string>
	<string>Air Jordan 13 Bred</string>
	<string>Air Jordan 14</string>
	<string>Air Jordan 14 Last Shot</string>
	<string>Air Jordan 17</string>
	<string>Air Jordan 2</string>
	<string>Air Jordan 2011</string>
	<string>Air Jordan 2011 Q Flight</string>
	<string>Air Jordan 2012</string>
	<string>Air Jordan 2012 Lite</string>
	<string>Air Jordan 28</string>
	<string>Air Jordan 28 SE</string>
	<string>Air Jordan 3</string>
	<string>Air Jordan 3 BHM</string>
	<string>Air Jordan 3 Black Cat</string>
	<string>Air Jordan 3 Black Cement</string>
	<string>Air Jordan 3 Black Flip</string>
	<string>Air Jordan 3 Crimson</string>
	<string>Air Jordan 3 Dark Mocha</string>
	<string>Air Jordan 3 Do The Right Thing</string>
	<string>Air Jordan 3 Doernbecher</string>
	<string>Air Jordan 3 Fear</string>
	<string>Air Jordan 3 Fire Red</string>
	<string>Air Jordan 3 Flip</string>
	<string>Air Jordan 3 Joker</string>
	<string>Air Jordan 3 Mocha</string>
	<string>Air Jordan 3 Pure Money</string>
	<string>Air Jordan 3 Retro 88</string>
	<string>Air Jordan 3 Silver Anniversary</string>
	<string>Air Jordan 3 Stealth</string>
	<string>Air Jordan 3 True Blue</string>
	<string>Air Jordan 4</string>
	<string>Air Jordan 4 Black Cat</string>
	<string>Air Jordan 4 Black Cement</string>
	<string>Air Jordan 4 Bred</string>
	<string>Air Jordan 4 Cavs</string>
	<string>Air Jordan 4 Cool Grey</string>
	<string>Air Jordan 4 Doernbecher</string>
	<string>Air Jordan 4 Fear</string>
	<string>Air Jordan 4 Fire Red</string>
	<string>Air Jordan 4 Green Glow</string>
	<string>Air Jordan 4 Laser</string>
	<string>Air Jordan 4 Lightning</string>
	<string>Air Jordan 4 Military Blue</string>
	<string>Air Jordan 4 Mist Blue</string>
	<string>Air Jordan 4 Pure Money</string>
	<string>Air Jordan 4 Silver Anniversary</string>
	<string>Air Jordan 4 Thunder</string>
	<string>Air Jordan 4 Toro Bravo</string>
	<string>Air Jordan 4 UNDFTD</string>
	<string>Air Jordan 4 White Cement</string>
	<string>Air Jordan 5</string>
	<string>Air Jordan 5 3Lab5</string>
	<string>Air Jordan 5 Bel Air</string>
	<string>Air Jordan 5 Black Grape</string>
	<string>Air Jordan 5 Burgundy</string>
	<string>Air Jordan 5 Fear</string>
	<string>Air Jordan 5 Fire Red</string>
	<string>Air Jordan 5 Grape</string>
	<string>Air Jordan 5 Laney</string>
	<string>Air Jordan 5 Olive</string>
	<string>Air Jordan 5 Oreo</string>
	<string>Air Jordan 5 Quai 54</string>
	<string>Air Jordan 5 Raging Bull</string>
	<string>Air Jordan 5 Tokyo23</string>
	<string>Air Jordan 6</string>
	<string>Air Jordan 6 Black Infrared</string>
	<string>Air Jordan 6 Black Varsity Red</string>
	<string>Air Jordan 6 Carmine</string>
	<string>Air Jordan 6 DMP</string>
	<string>Air Jordan 6 Doernbecher</string>
	<string>Air Jordan 6 GMP</string>
	<string>Air Jordan 6 Lakers</string>
	<string>Air Jordan 6 Maroon</string>
	<string>Air Jordan 6 Motorsport</string>
	<string>Air Jordan 6 Olympic</string>
	<string>Air Jordan 6 Olympic</string>
	<string>Air Jordan 6 Oreo White / Black Speckle</string>
</array>
</plist>
